.requests{
    background: #000000 !important;
    min-height: 100vh;
    padding-top: 50px;
    color: #fff;

    &__content{
        background: $black;
        max-width: 650px;
        width: 100%;
        padding: 20px;
        border-radius: 15px;
    }
    &__title{
        margin-bottom: 30px;
        text-align: center;
    }
}